 <header class="site-header">
      <a href="#" class="site-logo">
        <img src="/assets/avl_rs_logo.svg" alt="Site Logo" />
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Webinars</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contourings</a>
          </li>
          <li class="nav__item profile">
            <img src="Vector (12).svg" alt="" />
            <a href="#" class="nav__link">Profile</a>
          </li>
        </ul>
      </nav>
    </header>