<section class="hero-wrapper">
  <figure class="hero-figure">
    <div class="overlay-hero"></div>
    <img src="/assets/mh200828-n041-small (1).jpg" alt="jacq" class="hero-image" />
    <div class="site__hero-text">
      <h1>Lorem ipsum dolor sit</h1>
      <p>Consectetur adipiscing elit. Curabitur facilisis, felis a fermentum tincidunt, purus justo faucibus ex.</p>
    </div>
  </figure>
</section>
